body{
  width: 464px;
  margin: 16px;
}

.logo-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.App-logo{
  width: 100%;
  height: 36.65px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title{
  font-family: "Nunito";
  font-weight: 800;
  font-size: 24px;
  line-height: 32.74px;
}

p{
  font-family: "Nunito";
  font-weight: 800;
  font-size: 24px;
  line-height: 32.74px;
  color: #4D4D4D;
}

.pix{
  border: 2px solid #E5E5E5;
  padding-left: 16px;
}

.pix-name{
  font-family: "Nunito";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  background-color: #E5E5E5;
  width: 67px;
  height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 100px;
}

.below-pix{
  font-family: "Nunito";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #03D69D;
}

.below-pix b{
  font-weight: 800;
}

.cashback{
  
}

.blue-tag{
  font-family: "Nunito";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.blue-tag b{
  font-weight: 800;
}

.pix-installments{
  margin-top: 34px;
  border: 2px solid #E5E5E5;
}


.total-value{
  color: #AFAFAF;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 16px;
  line-height: 21.82px;
}

footer{
  display: flex;
  flex-direction: row;
}

footer p{
  font-family: "Nunito";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #B2B2B2;
}

.protect{
  width: 15.87px;
  height: 18.14px;
}


.logo-footer{
  width: 57.52px;
  height: 17.07px;
  filter: grayscale(100%);
}
